<ion-view view-title="Home">
    <ion-content>

    	<a href="#/app/recherche">
            <button class="roundBtnAcheter">
                Acheter
            </button>
            <button class="roundBtnAcheter">
                Louer
            </button>
        </a>
        <div class="list card">

		  <div class="item item-image">
		    <img src="http://www.destination360.com/europe/france/clermont-ferrand/holiday-inn-garden-court-clermont-ferrand-centre-map.gif">
		  </div>

		</div>
        <ion-footer-bar id="footer-bar" align-title="left" class="bar-stable" ng-click="scrollUp(e)">
            <div class="buttons">
                <button class="button button-icon button-clear ion-chevron-up">
                </button>
            </div>
            <h1 class="title">Mes favoris</h1>
            <div class="buttons">
                <button class="button button-icon button-clear ion-chevron-up"></button>
            </div>
        </ion-footer-bar>
    </ion-content>
</ion-view>
